<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8"> {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> WEBHOST </title>
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans+SC|Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %}

<body>

  {% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  {% endblock %}


  {% block content %}

  </div>
  </nav>

  <body>
    <!-- Header Section Start -->
    <div class="header">
      <nav class="navbar navbar-default main-navigation" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand logo" href="index.html"><img src="assets/img/logo.png" alt=""></a>
          </div>
          <!-- brand and toggle menu for mobile End -->

          <!-- Navbar Start -->
          <div class="container">
            <div class="row mid jumbotron">
              <div class="col-sm-12 intro container" id="story">
                <h1>Our Story</h1>
                <hr>
                <p>Considering that people are often faced by time and resource consuming processes to find a
                  suitable/desired healthcare practitioner. i.e relying on references from friends and family; making
                  countless calls and visits to multiple hospitals.
                  <br>
                  A team of five decided to innovate myDaktari as avenue by which patients can be united to healthcare
                  professionals, particularly specialty medics.
                  <br><br>
                  WEBHOST is an app created by a team of five students from Moringa school who include:
                  <br>
                  <br>Cynthia Muriithi
                  <br>Elias Kanoga
                  <br>Francis Sakwa
                  <br>Vynnel Omondi
                  <br>
                  Came together while at Moringa School to conceptualize this pivotal healthcare innovation.
                  <br>
                  It is our hope that millions of Kenya benefit from the service, patients and healthcare practitioners
                  alike.
                  <hr>
                </p>
              </div><!-- "row intro" "col-sm-12  tron"  end -->
            </div><!-- "row mid"  end -->
            <div class="row mid">
              <div class="col-sm-12 jumbotron" id="faq">
                <h1>FAQ</h1>
                <hr>
                <label for="q1">Q. What categories of doctors does myDaktari have?</label>
                <p class="q1">
                  A. Currently, myDaktari has five categories of doctors. Ophthalmologists, dentists, gynecologists,
                  paediatricians and general practitioner. However, if you have other complications you can consult a
                  general practitioner who will refer you to a specialist.
                </p>
                <label for="q2">Q. How do I connect with doctors using this application?</label>
                <p class="q2">
                  A. As a patient, all you need to do is locate the search button, and key in the location of the
                  convenient doctor closer to you and hit search, a list of doctors within that area will appear and
                  you can proceed to book a doctor.
                </p>
                <label for="q3">Q. Is myDaktari a free application to use?</label>
                <p class="q3">
                  A. Yes, myDaktari is absolutely free to use. But, after booking an appointment, you are required to
                  make payments via Mpesa to guarantee an appointment.
                </p>
                <label for="q4">Q. How convenient is myDaktari as an application?</label>
                <p class="q4">
                  A. myDaktari allows a patient access to health expertise at the comfort of his/her location by
                  finding the nearest health practitioner. It also saves transport costs and time wastage when
                  accessing a particular doctor or health professional.
                </p>
                <label for="q5">Q. How convenient is myDaktari as an application?</label>
                <p class="q5">
                  A. myDaktari verifies the certification of its doctor’s database first before updating them for
                  consultation. It also has ratings on each doctor depending on past patient-doctor experience. So, in
                  short myDaktari links you with the best practitioners.
                </p>
              </div><!-- "row intro" "col-sm-12  tron"  end -->
            </div><!-- "row mid"  end -->
            <div class="row mid jumbotron about">
              <div class="col-sm-12 " id="contact">
                <h1>Contact Us</h1>
                <hr>
                <label for="support">Support & feedback</label>
                <p class="support">
                  If you have any queries or require any assistance, please contact us on <br><em>support@mydaktari.co.ke</em>
                  <br> Also, to be included in our frequent user experience surveys, submit feedback to the above
                  email.
                </p>
              </div><!-- "row intro" "col-sm-12  tron"  end -->
              <hr>
              <div class="col-sm-6">
                <label for="Legal">Legal</label>
                <p class="legal">
                  To interact with the legal team, please contact <br><em>legal@mydaktari.co.ke</em><br>
                  to engage in processes which include but are not limited to claiming copyright infringment(s),
                  soliciting/viewing company documents etc
                </p>
              </div><!-- "row intro" "col-sm-6  tron"  end -->
              <div class="col-sm-6">
                <label for="enterprise">Enterprise & Press</label>
                <p class="enterprise">
                  To interact with the Operations team, please contact<br><em>press@mydaktari.co.ke</em><br>for any
                  press or business enquiries. We are constantly building our brand by building partnerships with
                  health institutions and bodies across the country.
                </p>
              </div><!-- "row intro" "col-sm-6  tron"  end -->
            </div><!-- "row mid"  end -->


            

          </div><!-- "container"  end -->
          <h6>&copy2018<br> ALL RIGHTS RESERVED <br> WEBHOST </h6>

          <!-- Optional Javascript -->
          <!-- jQuery, Popper.js, Bootstrap.js -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4
        {%endblock%}